{% extends 'Base.html' %}
     {% block title %}Dans Profile{% endblock %}
{% block body %}

<h1>Welcome To Dan's Page</h1>
<p>Dan is here as on work experiance as a student. His role is to merley expand his current understanding of python
    for his own purpose as this has been deemed useful for him. The summary of this discision was concluded when
    it was disclosed that Daniel had chosen computer science as one of his 9 GCSE's, as part of his course he is
    expected to have a basic understanding of python which he already has however has chosen to expand </p>

<h2><smal>Mentors&Team</smal></h2>
{% endblock %}