{% extends 'Base.html' %}
{% block title %}Joe's Profile{% endblock %}


{% block body %}
<h1>Joes Intrests</h1>
    <p>Joe has a few intrests he shares in common with Daniel, the main one
    being an simple enjoyment of the hobby reading. He claims the soothing
    state of mind it puts you in has a better effect on your progress in the
    office.
    </p>
    <ol style="font-weight: bolder; background-color: azure; border-color: coral; border:3px">

        His favorite reads are:

        <li>Lord of the rings</li>
        <li>Hunger Games</li>
        <li>The Enemy</li>
        <li>Flask Web Development</li>
    </ol>

{% endblock %}

