{% extends 'Base.html' %}
{% block title %}Michal's Profile{% endblock %}

{% block body %}
<h1>Michal is a lead programmer</h1>
<p>Michal is a lead programmer who is acting as Daniels main chaperon and is currently
teaching him a subordinate class of python called Flask. With this knew knowledge he is
hoping it will enable Dan to launch his GCSE python program into an online site that will
boost his mark and enable him to have one of the best sets of course works through-out
the country</p>
{%endblock%}