{% extends 'Base.html' %}
     {% block title %}William's Profile{% endblock %}


{% block body %}
<h1>Will's Roles Within His Position</h1>
    <small><bold><underlined><h2>One</h2></underlined></bold></small>
    <p>Will Currently is a leading python programmer, however briefly his role has
    been shadowed by the need to provide constant assistance to the work experience
    student who has been learing python himself. This has lead to him having a few
    issues grasping a few basics however we are proud to say he seems to have vastly
    expanded his knowledge in a short amount of time.</p>

{% endblock %}